$bodybc: #dcbb9a;
$hcolor: #8d4208;
$ccolor: #000000;
$bcc: #ffffff;
$bwidth: 4%;
$bcb: #FADCBA;
$fl: left;
$bi: 3px solid #893c00;
$borir: 3px solid #893c00;
$bcth: #E0E0E0;
$bctd: #ffffff;
$bbtd: 1px solid #ddd;
$bortt: 1px solid #808080;
$colin: #3d70a1;
$borts: 1px solid #3d70a1;
$acolor: #0000EE;

/*mixin setup go!*/
$brwidth: 40%;
$fcolor: #000000;
$h20: 20%;
$bcbr: #FADCBA;
$fsbr: 12px;
$padbr: 25px;
$marbr: 1px 12px 7px 2px;
/*mixin completed*/