/*mixin setup go!*/
$brwidth: auto;
$fcolor: #0e0d0d;
$h20: 20%;
$bcbr: #fff178;
$fsbr: 12px;
$padbr: 25px 1px 25px 25px;
$marbr: 1px 5px 7px 1px;
/*mixin completed*/
$bodybc: #DCFDFD;
$hcolor: #FCCD10;
$ccolor: #ffffff;
$bcc: #3B3B3B;
$bwidth: auto;
$bcb: #fff178;
$fl: none;
$bi: 2px solid #FCCD10;
$borir: 2px solid #FCCD10;
$bcth: #94a34e;
$bctd: #677d01;
$bbtd: 1px solid #94a34e;
$bortt: 1px solid #ccc;
$colin: #FCCD10;
$borts: 1px solid #FCCD10;
$acolor: #FCCD10;

